@charset "UTF-8";
@import "../../../../../../../craftcms/cms/src/web/assets/shared";

/* ----------------------------------------
/* Link
/* ----------------------------------------*/

/* config */
#flipbox-link-fields-Link {

  .pane {
    border: 1px solid #e3e5e8;
    background: #FFF;

    .types {

      &:after {
        @include clearafter;
      }

    }

    .type {

      .remove {
        float:right;
        position: relative;
        z-index:2;

      }

    }



  }

}